/* Top Rated Movies Page Styles */
.mrs {
    margin-top: 80px;
    text-align: center;
}

.login-logout {
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}

.login-logout a {
    color: #fdfafd;
    text-decoration: none;
}

.top-rated-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.top-rated-movies ul {
    list-style-type: none;
    padding: 0;
}

.top-rated-movies li {
    background-color: #b72818;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.top-rated-movies h2 {
    margin-top: 0;
}

.top-rated-movies p {
    margin-bottom: 10px;
}

.top-rated-movies img {
    max-width: 100px;
    margin-right: 20px;
}