<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
    <div class="nvbr">
        {% include 'navbar.html' %}
    </div>
    
    <h1>Search for Movie Details</h1>
    <form action="/get_movie_details" method="GET">
        <label for="movie_name">Enter Movie Name:</label>
        <input type="text" id="movie_name" name="name" required>
        <button type="submit">Search</button>
    </form>

    {% if movie_details %}
        <div id="movie_details">
            <h2>{{ movie_details.title }}</h2>
            {% if movie_details.poster_url %}
                <img src="{{ movie_details.poster_url }}" alt="Poster">
            {% endif %}
            <p><strong>Release Date:</strong> {{ movie_details.release_date }}</p>
            <p><strong>Overview:</strong> {{ movie_details.overview }}</p>
            <p><strong>Popularity:</strong> {{ movie_details.popularity }}</p>
            <p><strong>Vote Count:</strong> {{ movie_details.vote_count }}</p>
            <p><strong>Video:</strong> {{ movie_details.video }}</p>
            <p><strong>Vote Average:</strong> {{ movie_details.vote_average }}</p>
            <p><strong>Genres:</strong> {{ movie_details.genres }}</p>
            <p><strong>Adult:</strong> {{ movie_details.adult }}</p>
        </div>
    {% endif %}
</body>
</html>
